.react-calendar-heatmap .color-empty { fill: #f3f4f6; }

/* @todo: remove me */
/*
.react-calendar-heatmap .color-scale-1 { fill: #bfdbfe; }
.react-calendar-heatmap .color-scale-2 { fill: #93c5fd; }
.react-calendar-heatmap .color-scale-3 { fill: #60a5fa; }
.react-calendar-heatmap .color-scale-4 { fill: #3b82f6; }
.react-calendar-heatmap .color-scale-5 { fill: #2563eb; }
.react-calendar-heatmap .color-scale-6 { fill: #1d4ed8; }
.react-calendar-heatmap .color-scale-7 { fill: #1e40af; }
.react-calendar-heatmap .color-scale-8 { fill: #1e3a8a; }

.react-calendar-heatmap .color-scale-1 { fill: #fde68a; }
.react-calendar-heatmap .color-scale-2 { fill: #fcd34d; }
.react-calendar-heatmap .color-scale-3 { fill: #fbbf24; }
.react-calendar-heatmap .color-scale-4 { fill: #f59e0b; }
.react-calendar-heatmap .color-scale-5 { fill: #d97706; }
.react-calendar-heatmap .color-scale-6 { fill: #b45309; }
.react-calendar-heatmap .color-scale-7 { fill: #92400e; }
.react-calendar-heatmap .color-scale-8 { fill: #78350f; }
*/

.react-calendar-heatmap .color-scale-1 { fill: #fee2e2; }
.react-calendar-heatmap .color-scale-2 { fill: #fecaca; }
.react-calendar-heatmap .color-scale-3 { fill: #fca5a5; }
.react-calendar-heatmap .color-scale-4 { fill: #f87171; }
.react-calendar-heatmap .color-scale-5 { fill: #ef4444; }
.react-calendar-heatmap .color-scale-6 { fill: #dc2626; }
.react-calendar-heatmap .color-scale-7 { fill: #b91c1c; }
.react-calendar-heatmap .color-scale-8 { fill: #991b1b; }
.react-calendar-heatmap .color-scale-9 { fill: #7f1d1d; }
